In [19]:
import duckdb
import glob
import pandas as pd

In [20]:
con = duckdb.connect("E:/duckdb/tennis.duckdb", read_only=True)
market_summaries = con.execute("SELECT * FROM market_summaries").df()

In [21]:
market_summaries

,market_id,event_date,country,event,market_name,selection_id,selection_name,result,bsp,pp_min,pp_max,pp_wap,pp_ltp,pp_volume,ip_min,ip_max,ip_wap,ip_ltp,ip_volume
0,1.118520024,2015-04-30 22:02:00,BR,O Luz v Musialek,Match Odds,9420501,Orlando Luz,WINNER,NaN,1.60,2.38,1.72,1.74,8460.79,1.03,26.00,1.62,1.17,569956.33
1,1.118520024,2015-04-30 22:02:00,BR,O Luz v Musialek,Match Odds,8443099,Alexis Musialek,LOSER,NaN,1.73,2.68,2.38,2.36,3026.99,1.04,26.00,1.52,6.80,650951.46
2,1.118520072,2015-01-05 03:17:00,CN,Duckworth v Zemlja,Match Odds,6064287,James Duckworth,LOSER,NaN,1.42,1.88,1.62,1.55,6959.47,1.34,6.00,1.82,6.00,41563.68
3,1.118520072,2015-01-05 03:17:00,CN,Duckworth v Zemlja,Match Odds,3509269,Grega Zemlja,WINNER,NaN,2.02,3.25,2.72,2.24,3985.42,1.14,3.55,1.59,1.14,70028.29
4,1.118520120,2015-01-05 04:58:00,CN,D Wu v Van Peperzeel,Match Odds,4596953,Di Wu,LOSER,NaN,1.54,1.74,1.68,1.70,3033.79,1.45,190.00,2.18,190.00,33531.11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
770672,1.231636306,2024-10-08 12:55:00,None,Ben Hassan v Marterer,Set 2 Winner,7335940,Maximilian Marterer,WINNER,NaN,NaN,NaN,NaN,NaN,0.00,1.03,4.40,1.32,1.05,4355.72
770673,1.231636303,2024-10-08 12:55:00,None,Ben Hassan v Marterer,Match Odds,9631799,Benjamin Hassan,LOSER,NaN,2.06,2.18,2.11,2.12,993.69,1.59,50.00,2.90,50.00,15853.34
770674,1.231636303,2024-10-08 12:55:00,None,Ben Hassan v Marterer,Match Odds,7335940,Maximilian Marterer,WINNER,NaN,1.76,1.93,1.90,1.89,3535.53,1.01,2.70,1.35,1.01,92639.80
770675,1.231636305,2024-10-08 12:55:00,None,Ben Hassan v Marterer,Set 1 Winner,9631799,Benjamin Hassan,LOSER,NaN,2.12,2.12,2.12,2.12,1.33,1.31,30.00,2.30,30.00,596.31
770676,1.231636305,2024-10-08 12:55:00,None,Ben Hassan v Marterer,Set 1 Winner,7335940,Maximilian Marterer,WINNER,NaN,1.90,1.90,1.90,1.90,1.49,1.03,2.46,1.54,1.03,1305.41

In [48]:
tennis_markets = con.execute("""
SELECT *

FROM competition_mappings c
INNER JOIN market_summaries m
ON c.market_id = m.market_id
""").df()

In [50]:
tennis_markets[~tennis_markets['selection_name'].str.contains("/")]

,FORMATTED_DATE,PATH,COMPETITION_ID,COMPETITION_NAME,COUNTRY_CODE,EVENT_ID,EVENT_NAME,MARKET_NAME,SPORT_ID,SPORT_NAME,...,pp_min,pp_max,pp_wap,pp_ltp,pp_volume,ip_min,ip_max,ip_wap,ip_ltp,ip_volume
0,2024-07-02,ITF Amstelveen/Singles Matches/Kristina Dmitru...,9699553.0,ITF Amstelveen,None,33387558,Kristina Dmitruk v Antonia Schmidt,Match Odds,2.0,Tennis,...,1.43,2.10,1.85,1.43,930.80,1.02,6.00,1.63,6.00,543.38
1,2024-07-02,ITF Amstelveen/Singles Matches/Kristina Dmitru...,9699553.0,ITF Amstelveen,None,33387558,Kristina Dmitruk v Antonia Schmidt,Match Odds,2.0,Tennis,...,2.00,3.00,2.64,2.86,58.16,1.01,2.66,1.53,1.01,762.33
2,2024-07-02,Men's Wimbledon 2025/First Round Matches/Const...,12597512.0,Men's Wimbledon 2025,None,33379933,Constant Lestienne v Lore Musetti,Match Odds,2.0,Tennis,...,7.40,10.00,8.84,9.20,3771.81,1.60,350.00,2.57,290.00,93772.21
3,2024-07-02,Men's Wimbledon 2025/First Round Matches/Const...,12597512.0,Men's Wimbledon 2025,None,33379933,Constant Lestienne v Lore Musetti,Match Odds,2.0,Tennis,...,1.11,1.15,1.12,1.12,71564.79,1.01,2.66,1.39,1.01,381083.78
4,2024-07-02,Men's Wimbledon 2025/First Round Matches/Marti...,12597512.0,Men's Wimbledon 2025,None,33380313,Martin Etcheverry v Luca Nardi,Match Odds,2.0,Tennis,...,1.59,1.73,1.64,1.66,41079.12,1.01,1.70,1.14,1.01,59713.17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
675423,2024-07-02,Men's Wimbledon 2025/First Round Matches/He Se...,12597512.0,Men's Wimbledon 2025,None,33380393,He Searle v Marc Giron,Match Odds,2.0,Tennis,...,1.05,1.33,1.21,1.20,35703.64,1.01,1.65,1.19,1.02,342893.95
675424,2024-07-02,Women's Wimbledon 2025/First Round Matches/Ann...,12597518.0,Women's Wimbledon 2025,None,33380143,Anna Kalinskaya v Pan Udvardy,Match Odds,2.0,Tennis,...,1.13,1.16,1.14,1.14,29118.82,1.01,1.20,1.07,1.01,263722.02
675425,2024-07-02,Women's Wimbledon 2025/First Round Matches/Ann...,12597518.0,Women's Wimbledon 2025,None,33380143,Anna Kalinskaya v Pan Udvardy,Match Odds,2.0,Tennis,...,7.20,8.80,8.12,7.60,2855.36,6.40,120.00,20.75,120.00,791.49
675426,2024-07-02,ATP Modena Challenger/Singles Matches/Mariano ...,12670621.0,ATP Modena Challenger,None,33386934,Mariano Tammaro v Titouan Droguet,Match Odds,2.0,Tennis,...,9.40,10.50,10.38,10.50,209.03,2.26,110.00,3.66,110.00,4719.46
675427,2024-07-02,ATP Modena Challenger/Singles Matches/Mariano ...,12670621.0,ATP Modena Challenger,None,33386934,Mariano Tammaro v Titouan Droguet,Match Odds,2.0,Tennis,...,1.05,1.12,1.10,1.10,4079.09,1.01,1.89,1.35,1.01,41080.33

In [51]:
con.execute("SELECT tournament_category, COUNT(*) FROM sofascore_events GROUP BY tournament_category").df()

     tournament_category  count_star()
0                Croatia           165
1             United Cup           303
2            Wheelchairs           992
3                ITF Men        446818
4              ITF Women        367035
5                Legends           454
6    Wheelchairs Juniors            36
7                  World             1
8                    ATP         58956
9             Challenger        106961
10               Juniors          5347
11    Electronic Leagues            99
12             Davis Cup          9847
13            Hopman Cup           346
14                   WTA         54350
15               WTA 125          7998
16                Russia             1
17            Exhibition         11972
18                 Other          3356
19  Billie Jean King Cup          6484
20                  IPTL           481

In [40]:
sofascore_events = con.execute("SELECT * FROM sofascore_events WHERE tournament_category IN ('ATP','WTA','Challenger')").df()

In [41]:
sofascore_events = sofascore_events[~sofascore_events['home_team'].str.contains('/')]
sofascore_events = sofascore_events[sofascore_events['match_status'] != 'Not started']

In [47]:
unique_slugs = sorted(list(set(sofascore_events['home_team_slug'].unique().tolist() + sofascore_events['away_team_slug'].unique().tolist())))

In [8]:
con.close()